---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

<ul>
    <li>
        Model-Free Optimal Control Using Improved SPSA with Complex Variables [CISS-2021]<br>
        <small>Annual Conference on Information Sciences and Systems, Baltimore, MD, 24-26 March 2021</small>
    </li>
    <li>
        Improved SPSA Using Complex Variables with Applications in Optimal Control Problems [ACC-2021]<br>
        <small>American Control Conference, New Orleans, LA, 25-28 May 2021</small>
    </li>
    <li>
        Multilevel Data Integration with Application in Sensor Networks [ACC-2020]<br>
        <small>American Control Conference, Denver, CO, 1-3 July 2020</small>
    </li>
    <li>
        Convergence and Asymptotic Normality for Identification of Systems with Subsystems [<a href="https://ww2.amstat.org/meetings/jsm/2019/index.cfm">JSM-2019]</a>]<br>
        <small>Joint Statistical Meetings, Denver, CO, 27 July-1 August 2019</small>
    </li>
    <li>
        Uncertainty Quantification for Systems with Multiple Systems with Application to Cold-formed Steel Shear Walls [<a href="http://uq-materials2019.usacm.org/">USACM-UQ-2019</a>]<br>
        <small>USACM Conference on Uncertainty Quantification in Computational Solid and Structural Materials Modeling, Johns Hopkins University, Baltimore, MD, 17-18 Jan 2019</small>
    </li>
    <li>
        Combining Subsystem and Full System Data with Application to Cold­-Formed Steel Shear Wall [<a href="http://acc2018.a2c2.org/">ACC-2018</a>]<br>
        <small>American Control Conference, Milwaukee, WI, 27-29 June 2018</small>
    </li>
    <li>
        Mixed Simultaneous Perturbation Stochastic Approximation on Loss Function with Noisy Measurement [<a href="http://acc2018.a2c2.org/">ACC-2018</a>]<br>
        <small>American Control Conference, Milwaukee, WI, 27-29 June 2018</small>
    </li>
    <li>
        Reduced Complexity of Second-Order Simultaneous Perturbation Stochastic Approximation Algorithms [<a href="https://ww2.amstat.org/meetings/sdss/2018/index.cfm">SDSS-2018</a>]
        <small>Symposium on Data Science and Statistics, Reston, VA, 16-19 May 2018</small>
    </li>
    <li>
        Integrating Data from System and Subsystems in Weapon System Test and Evaluation [<a href="https://defense.aiaa.org/">[DEFENSE-2018]</a>]<br>
        <small>AIAA Defense and Security Forum, Laurel, MD, 8-10 May 2018</small>
    </li>
    <li>
        Combining Subsystem and Full System Data with Application to Cold-Formed Steel Shear Wall [<a href="https://ww2.amstat.org/meetings/jsm/2017/index.cfm">JSM-2017</a>]
        <small>Joint Statistical Meetings, Baltimore, MD, 29 July-3 August 2017</small>
    </li>
    <li>
        Convergence Results for Identification of Systems with Binary Subsystems [<a href="https://ww2.amstat.org/meetings/jsm/2017/index.cfm">JSM-2017</a>]
        <small>Joint Statistical Meetings, Baltimore, MD, 29 July-3 August 2017</small>
    </li>
    <li>
        Beyond the Identification of Reliability for System with Binary Subsystems [<a href="http://acc2017.a2c2.org/">ACC-2017</a>]<br>
        <small>American Control Conference, Seattle, WA, 24-26 May 2017</small>
    </li>
    <li>
        Parameter Estimation for Statistical Models of Systems with Binary Subsystems<br>
        <small>Department of Applied Mathematics and Statistics, Johns Hopkins University, Baltimore, MD, 6 December 2016</small>
    </li>
    <li>
        Identification of Systems with Binary Subsystems: Beyond Reliability [<a href="http://sections.maa.org/mddcva/Fall2016Meeting.php">MAA-2016</a>]<br>
        <small>Maryland-District of Columbia-Virginia Fall Sectional Meeting, Mathematical Association of America, Johns Hopkins University, Baltimore, MD, 4-5 November 2016</small>
    </li>
</ul>


<!---
{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
--->