---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<h3>Instructor</h3>

<ul>
  <li><b>Monte Carlo Methods</b><br>
    Undergraduate course, <i>Johns Hopkins University</i>, Fall 2019
  </li>
  <li><b>Statistical Analysis II</b><br>
    Undergraduate course, <i>Johns Hopkins University</i>, Summer 2017
  </li>
  <li><b>Financial Mathematics Orientation: Statistics and R Section</b><br>
    Workshop, <i>Johns Hopkins University</i>, Summer 2017, Summer 2016<br>
  </li>
  <li><b>Introduction to Scientific Programming in Python</b><br>
    Undergraduate course, <i>Johns Hopkins University</i>, Intersession 2017<br>
  </li>
  <li><b>Financial Computing Workshop: Python Section</b><br>
    Workshop, <i>Johns Hopkins University</i>, Intersession 2017<br>
  </li>
</ul>



<h3>Teaching Assistant</h3>









<!---
{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
--->