---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<h2>Instructor</h2>

<ul>
  <li>
    <b>Monte Carlo Methods</b><br>
    Undergraduate course, <i>Johns Hopkins University</i>, Fall 2019
  </li>
  <li>
    <b>Statistical Analysis II</b><br>
    Undergraduate course, <i>Johns Hopkins University</i>, Summer 2017
  </li>
  <li>
    <b>Financial Mathematics Orientation: Statistics and R Section</b><br>
    Workshop, <i>Johns Hopkins University</i>, Summer 2017, Summer 2016
  </li>
  <li>
    <b>Introduction to Scientific Programming in Python</b><br>
    Undergraduate course, <i>Johns Hopkins University</i>, Intersession 2017
  </li>
  <li>
    <b>Financial Computing Workshop: Python Section</b><br>
    Workshop, <i>Johns Hopkins University</i>, Intersession 2017
  </li>
</ul>

<h2>Teaching Assistant</h2>

<ul>
    <li>
        Modeling, Simulation, and Monte Carlo, Spring 2021, Spring 2019
    </li>
    <li>
        Introduction to R, Intersession 2021
    </li>
    <li>
        Monte Carlo Methods, Fall 2020, Fall 2019, Falll 2018, Fall 2017, Fall 2016
    </li>
    <li>
        System Identificaiton and Likelihood Methods, Spring 2020
    </li>
    <li>
        Applied Statistics and Data Analysis, Fall 2020
    </li>
    <li>
        Data Mining, Spring 2019
    </li>
    <li>
        Time Series Analysis, Spring 2018
    </li>
    <li>
        Stochastic Search and Optimization, Spring 2018
    </li>
    <li>
        Statistical Uncertainty Quantification, Fall 2017, Fall 2016
    </li>
    <li>
        Introduction to Statistics, Spring 2017, Spring 2016, Fall 2015, Spring 2015
    </li>
    <li>
        Statistical Theory II, Spring 2017
    </li>
    <li>
        Statistical Analysis I, Spring 2016, Fall 2015
    </li>
</ul>

<!---
{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
--->